body {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  font-size: 0.85em;
  margin: 60px auto;
  width: 70%;
}

post {
  max-width: 50%;
}

nav ul {
  padding: 10px;
  list-style: none;
  border-bottom: 0.01em solid #d5d5d5;
}

footer ul {
  padding: 10px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding-left: 40px;
}

ul.posts {
  margin-right: 20px;
  padding-right: 20px;
  /* margin: 0px auto 40px; */
}

nav ul li,
footer ul li {
  display: inline;
  margin-left: 0px;
  margin-right: 20px;
}

ul li {
  display: list-item;
  margin-left: 20px;
  margin-right: 20px;
  list-style: outside;
}

ul.posts li {
  margin-left: 0px;
  margin-right: 10px;
  padding-right: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: #333;
}

h1 {
  font-size: 3em;
}

.mainTitle {
  font-size: 3em;
  text-align: left;
  font-weight: bold;
  margin-block-start: 0.75em;
  margin-block-end: 0.75em;
}

.mainTitle a:hover {
  text-decoration: none;
}

.sectionHeader {
  color: #000;
  display: block;
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
  border-bottom: 0.01em solid black;
}

.institution {
  color: black;
  display: block;
  font-size: 1.25em;
  margin-left: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}

.project {
  display: block;
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 20px;
  font-style: normal;
}

.role {
  display: block;
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-style: italic;
}

.kicker {
  font-size: 0.75em;
  line-height: 0.9em;
  color: #ff7f00;
}

.blogDateTime {
  font-size: 0.75em;
  line-height: 0.9em;
  color: #666;
}

.p {
  font-size: 1.15em;
  line-height: 1.25em;
  color: #333;
}

.blurb {
  font-size: 1em;
  line-height: 1.15em;
  color: #333;
}

.about {
  line-height: 1.3em;
  width: 100%;
  text-align: justify;
}

.siteTitle {
  font-size: 5em;
  font-weight: bold;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: right;
}

.lastUpdate {
  font-size: 0.75em;
  text-align: right;
  color: #999;
}

.imgColor {
  fill: #000;
}

meta {
  font-size: 0.5em;
  color: #999;
}

footer {
  border-top: 0.01em solid #d5d5d5;
  font-size: 0.8em;
}

.column {
  float: left;
  width: 25px;
  padding: 5px;
}

.row {
  padding-left: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media (prefers-color-scheme: dark) {
  body,
  html {
    background-color: #333;
    color: #ccc;
  }

  a,
  a:hover,
  .sectionHeader,
  .institution,
  .p,
  .blurb,
  .lastUpdate,
  .blogDateTime,
  .meta {
    color: #ccc;
  }

  .sectionHeader {
    border-bottom: 0.01em solid #ccc;
  }

  .imgColor {
    filter: invert(1) brightness(85%);
  }
}

@media print {
  nav ul {
    display: none;
  }

  footer,
  ul.topNav,
  .noPrint {
    display: none;
  }

  .section {
    page-break-before: always;
    page-break-inside: avoid;
  }

  #content,
  #page {
    width: 100%;
    margin: 0;
    float: none;
  }

  body {
    /* font-family: "Helvetica", "Arial", "Sans-Serif"; */
    font-family: "Garamond", "Adobe Garamond Pro", "AGaramond", "Times", "Serif";
    /* font: 10pt "Helvetica", "Arial", "Sans-Serif"; */
    font: 10pt "Garamond", "Adobe Garamond Pro", "AGaramond", "Serif";
    line-height: 1.1em;
    background: #fff !important;
    color: #000;
    width: 100%;
  }

  .mainTitle {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0.25em;
  }

  .sectionHeader {
    color: #000;
    display: block;
    font-size: 1.2em;
    margin-bottom: 1.15em;
    font-weight: bold;
    border-bottom: 0.01em solid black;
  }

  .institution {
    font-size: 1.1em;
  }

  .role,
  .project {
    font-size: 1em;
  }
}
