<!DOCTYPE html>
<html>
  <head>
    {% include analytics.html %}
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/privacy	">Privacy</a></li>
        <li><a href="https://twitter.com/winetasterapp">Twitter</a></li>
      </ul>
    </nav>
    <div class="container">{{ content }}</div>
    <!-- /.container -->
    <div class="noPrint">{% include footer.html %}</div>
  </body>
</html>
